
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
ENV/
env.bak/
venv.bak/


build/
dist/
*.spec


*.manifest
*.exe
*.dll
*.bat


installer/
*.iss


*.log


.vscode/
.idea/
*.code-workspace


.DS_Store
Thumbs.db


.env
.env.*

.pytest_cache/
.mypy_cache/
.cache/


*.ui~
*.qrc~
